/* open sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");
/* Raleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;500;600&display=swap");
/* Quicksand */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.navbar-style {
  background-color: #fcfcf9;
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
}
.my-name h1 {
  font-family: "Lobster", cursive;
  line-height: 1.5rem;
}

.cv-text {
  font-family: "Lobster", cursive;
  line-height: 1.5rem;
}

.cv-icon {
  height: 2rem;
}

.forename {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.surname {
  padding-top: 0px;
  margin-top: 6px;
  padding-left: 2rem;
}

/* main */
.me-img {
  height: 185px;
  width: 185px;
  display: block;
  margin: auto;
  position: relative;
  margin-top: 70px;
}

.bio-text {
  width: 50%;
  text-align: center;
  margin: 30px auto;
}
.section-heading {
  font-family: "Lobster", cursive;
  margin-top: 50px;
}

/* stack */
.stack-section {
  background-color: #fcfcf9;
  padding-bottom: 50px;
  padding-top: 30px;
}

.stack {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  gap: 20px 30px;
}
.stack > img {
  width: 20%;
  aspect-ratio: 3/2;
  object-fit: contain;
}
/* .last-item{
  margin-right: auto;
} */

/* projects */

.materialised {
  display: flex;
  flex-wrap: wrap;
}
.project-container {
  position: relative;
  margin-bottom: 100px;
}

.project-screenshot {
  width: 600px;
  height: 360px;
  margin: 50px 0px 0px 100px;
  box-shadow: 5px 5px 5px #ccc;
  position: relative;
  z-index: 1;
}
.project-details {
  width: 600px;
  min-height: 360px;
  background-color: rgba(103, 97, 97, 0.9);
  color: white;
  display: flex;
  margin-left: auto;
  margin-bottom: 50px;
  box-shadow: 5px 5px 5px #ccc;
  z-index: 2;
  position: absolute;
  top: 35%;
  left: 47%;
}

.project-text {
  padding: 10px 20px;
}

.project-text p {
  padding: 15px 0px 5px 0px;
  width: 450px;
}
.project-text h5 {
  padding-bottom: 10px;
}

.project-links {
  background-color: rgba(80, 77, 77, 100);
  min-height: 100%;
  width: 20%;
  display: flex;
}

.project-icons {
  list-style: none;
  /* width: 50%; */
  padding: 0px;
  margin: auto auto 0px auto;
  padding-bottom: 25px;
}

.project-icons > li {
  width: fit-content;
  margin: auto;
}
.project-icons > li > a {
  font-size: 2em;
  color: white;
}

footer {
  background-color: #fcfcf9;
  position: absolute;
  width: 100vw;
  height: 200px;
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.footer-content {
  display: flex;
  align-items: center;
}
.footer-content > a {
  color: black;
  text-decoration: none;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline > li > a {
  font-size: 2em;
  color: black;
}

/* @medias */

@media screen and (max-width: 450px) {
  .list-inline > li {
    padding: 0px 5px;
  }
  .list-inline > li > a {
    font-size: 1.5em;
    color: black;
  }
  .my-name h1 {
    font-family: "Lobster", cursive;
    line-height: 1.3rem;
  }
  .cv-text {
    font-size: 1.3rem;
    padding-bottom: 7px;
    margin-top: -3px;
  }
  .cv-icon {
    height: 1.5rem;
    padding-bottom: 7px;
    margin-top: -3px;
  }
  footer {
    height: 150px;
  }
}

@media screen and (max-width: 1400px) {
  .project-screenshot {
    margin-left: 0px;
  }
  .project-details {
    left: 38%;
  }
  .last-item {
    margin-right: 0;
  }
}

@media screen and (max-width: 1000px) {
  .section-heading {
    padding-bottom: 20px;
  }
  .surname {
    padding-top: 0px;
    margin-top: -1px;
    padding-left: 2rem;
  }
  .bio-text {
    width: 100%;
  }
  .stack {
    width: 75%;
    gap: 18px 20px;
  }
  .stack > img {
    width: 25%;
  }

  .project-screenshot {
    width: 90%;
    height: fit-content;
    box-shadow: none;
    margin: 0 auto;
    border-top: 0.5px solid rgba(0, 0, 0, 0.5);
    border-right: 0.5px solid rgba(0, 0, 0, 0.5);
    border-left: 0.5px solid rgba(0, 0, 0, 0.5);
    display: block;
    margin: 0 auto;
  }
  .project-details {
    width: 90%;
    height: fit-content;
    color: white;
    position: relative;
    box-shadow: none;
    top: 0;
    left: 0;
    margin: 0 auto;
    background-color: white;
    color: black;
    display: block;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
    border-right: 0.5px solid rgba(0, 0, 0, 0.5);
    border-left: 0.5px solid rgba(0, 0, 0, 0.5);
  }
  .project-text {
    padding: 10px;
    padding-top: 15px;
  }

  .project-text h2 {
    text-align: center;
    text-decoration: underline;
  }
  .project-text p {
    padding: 15px 0px 5px 0px;
    width: fit-content;
  }

  /* links */
  .project-links {
    background-color: rgba(80, 77, 77, 100);
    width: 100%;
    display: inline-block;
    display: flex;
    box-shadow: 0 0 3px #ccc;
  }

  .project-icons {
    list-style: none;
    padding-bottom: 0px;
  }
  .project-icons li {
    display: inline-block;
    padding: 15px;
  }
  footer {
    margin-top: 0px;
  }
}
